name: Rust

on:
  push:
    branches: 
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: docker builx . --name=${REG_NAME}:${}
    - name: Run tests
      run: cargo test --verbose
