name: Docker reg

on:
  push:
    branches: 
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: login
      run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u $REF_D_NAME --password-stdin
    - name: Build
      run: docker builx . --name=$REF_D_NAME/$SELF_D_NAME:new --file="./docker/Dockerfile"
    - name: Push
      run: docker push $REF_D_NAME/$SELF_D_NAME:new
